body {
  background-color: blueviolet;
}
h1 {
  text-align: center;
  color: whitesmoke;
}
#content {
  color: white;
  display: flex;
  justify-content: center;
}
.img {
  width: 300px;
  margin: auto;
}
